{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!--visual-->
       <section class="visual">
          <ul class="slide">
              <li><img src="{% static 'img/visualpiano1.jpg' %}" alt="슬라이드이미지1">
                <div class="txt">
                   <p>Creative Music</p>
                   <h3>Piano & Composer, <br>Responsive Web and <br>your Identity </h3>
                   <a href="#">See the work <span class="lnr lnr-chevron-right"></span></a>  
                </div>
                <span class="scroll">Scroll down</span>
              </li>
              <li><img src="{% static 'img/visualpiano2.jpg' %}" alt="슬라이드이미지2">
                <div class="txt">
                   <p>Creative Music</p>
                   <h3>Website & APP, <br>Design Music and <br>Your Identity </h3>
                   <a href="#">See the work <span class="lnr lnr-chevron-right"></span></a>  
                </div>
                <span class="scroll">Scroll down</span>
              </li>
              <li><img src="{% static 'img/visualpiano3.jpg' %}" alt="슬라이드이미지3">
                <div class="txt">
                   <p>Creative Music</p>
                   <h3>Website & APP, <br>Design Music and and <br>Your Identity </h3>
                   <a href="#">See the work <span class="lnr lnr-chevron-right"></span></a>  
                </div>
                <span class="scroll">Scroll down</span>
              </li>
          </ul>
       </section>
       <!--contents-->
       <section class="contents">
           <div class="mainText animate" data-animate="fadeInUp" data-duration="1s" data-delay="0s">
               <h3>Great Music <br> build great Composer</h3>
               <p>인공지능 기반으로 온라인 서비스들을 구축하고 <br class="mo">
        		악보생성과 디자인 그리고 실행까지, Like A Pianist는<br class="mo">
        		고객의 비즈니스를 위해 수준 높은 결과물을 <br class="mo">
                   서비스(Creative Partner) 입니다.
                   <span>Like A Pianist</span></p>

                   <p class="lead">
                     <a href="{% url 'endPage' %}" class="btn btn-lg btn-secondary"> START </a>
                   </p>
           </div>
       </section>
{% endblock %}
